table {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  width: 1200px;
  border-collapse: collapse;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c6d1e8;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;
  margin: 50px 0px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.description-container {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.description-container p {
  margin: 0px;
  font-size: 1.1em;
}

.description-container a {
  text-decoration: underline;
  color: black;
  padding: 20px 0px 0px 0px;
  display: flex;
  width: fit-content;
}
